{% extends "Ingreso_base.html" %}

{% load chartkick %}

{% block contenido %}


<br>
<h3 class="page-header">Ayuda y recursos</h3>


<div class="panel panel-default">
  <div class="panel-body">
    TExto texto TExto texto TExto texto TExto texto TExto texto TExto texto 
    TExto texto TExto texto TExto texto TExto texto TExto texto TExto texto 
  </div>
</div>

        
<div class="list-group">
      <a href="#" class="list-group-item list-group-item-success">
        Ayuda de SIDEFI
      </a>
      <a href="#" class="list-group-item">Manual de Usuario</a>
      <a href="#" class="list-group-item">Guia para el tecnico</a>
    </div>

<div class="list-group">
      <a href="#" class="list-group-item list-group-item-success">
        Vinculos externos
      </a>
      <a href="http://www.paho.org/dor/" class="list-group-item">OPS</a>
      <a href="#" class="list-group-item">MINERD</a>
    </div>
      
<div class="list-group">
      <a href="#" class="list-group-item list-group-item-success">
        Contactos
      </a>
      <a href="http://www.paho.org/dor/" class="list-group-item">Aovalles</a>
      <a href="#" class="list-group-item">Dfreijomil</a>
      <a href="#" class="list-group-item">Psoriano</a>
    </div>
      
{% endblock contenido %}
