{% extends "Ingreso_base.html" %}

{% load chartkick %}

{% block contenido %}


<br>
<h3 class="page-header">Ayuda y recursos</h3>


<div class="panel panel-default">
  <div class="panel-body">
    TExto texto TExto texto TExto texto TExto texto TExto texto TExto texto 
    TExto texto TExto texto TExto texto TExto texto TExto texto TExto texto 
  </div>
</div>

        
<div class="list-group">
      <a href="#" class="list-group-item active">
        Ayuda de SIDEFI
      </a>
      <a href="#" class="list-group-item">Manual de Usuario</a>
      <a href="#" class="list-group-item">Guia para el tecnico</a>
    </div>

<div class="list-group">
      <a href="#" class="list-group-item active">
        Vinculos externos
      </a>
      <a href="http://www.paho.org/dor/" class="list-group-item">OPS</a>
      <a href="#" class="list-group-item">MINERD</a>
    </div>
      

{% endblock contenido %}
