<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Identificacion del usuario</title>

<!-- Carga de archivos estaticos para Django-->
    {% load staticfiles %}

    <link href="{% static "css/bootstrap.css"%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/signin.css"%}" rel="stylesheet">


  </head>

  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">

              <a class="navbar-brand" href="http://sidefi.herokuapp.com/">SIDEFI</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse"></div>
          </div>
        </nav>

      </div>
    </div>



  <body>

    <div class="container">

      {% if mensaje %}
      <div class="alert alert-danger" role="alert">
            <strong>{{ mensaje }}</strong> 
      </div>
      {% endif %}

      <form action="" method="post" class="form-signin"> {% csrf_token %}
        <h3 class="form-signin-heading">Por favor, ident&iacute;fiquese:</h3>
        <br>
        <label for="username" class="sr-only">Nombre de usuario</label>

        <input type="text" name="username" id="username" value="" class="form-control" placeholder="nombre de usuario" required="" autofocus="">
        <br>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        
        {{ captcha }}
        <br><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>

        <br>

      </form>

    </div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js"%}"></script>
  

</body>
<br>

<div align="center">
      <!-- FOOTER -->
      <footer>
        <p>© 2015 Alexander Ovalles / David Freijomil / Pelagio Soriano <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>
</div>
</html>